#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  padding: none;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #001119; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #159A9C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e7176; 
}
